{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}

<body class="homepage">
  <div class="title">
    <h1>GetFit</h1>
    <p>A Quick easy way to track you Fitness</p>
    <br>
    <p>"It's about drive, it's about power"</p>
    <p>We stay hungry, we devour</p> 
    <p>Put in the work, put in the hours and take what's ours"</p>
    <br>
    <h2>-Dwyane 'The Rock' Johnson</h2>
  </div>

</body>