{{!-- {{> post-info post}} --}}



  <div class="container">
    <div id="chart"></div>
  </div>


{{!-- <script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
  console.log('loaded stats file');





// Chart Options

const options = {
  chart: {
    type: 'line',
    height: 450,
    width: '80%',
    
  },
  series: [
    {
    name: 'sets',
    data: {{JSON.stringify(sets)}}
    },
    {
      name: 'reps',
      data: {{JSON.stringify(reps)}}
    }
  ],
  xaxis: {
    categories: data: {{JSON.stringify({{dates)}}
  // plotOptions: {
  //   bar: {

};


// Init chart
const chart = new ApexCharts(document.querySelector('#chart'), options);

// Render Chart
chart.render();
</script>

